

/* login page */


body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-size: cover;
    height: 100vh;
    background-image: url("/assets/img/duhok\ gali\ sherana.jpg");
}

.main {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: white;
    padding: 10px;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.list {
    margin-right: auto;
}

.list2 {
    margin-left: auto;
}

.list a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
}

.list2 a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
}

.active-menu {
    background-color: #555;
    padding: 5px;
    border-radius: 5px;
}

.login-box {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color:rgba(255, 255, 255, 0.932);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.login-box h1 {
    text-align: center;
}

.textbox {
    margin-bottom: 15px;
}

.textbox input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.btn {
    background-color: #000000b7;
    color:aliceblue;
    padding: 10px;
    border: none;
    width: 100%;
    cursor: pointer;
}

.btn:hover {
    background-color: #a1a1a146;
}


/* ===================================SIGNUP================================= */


form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.login-box {
    background: rgba(255, 255, 255, 0.37);
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

.login-box h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.textbox {
    margin-bottom: 15px;
    font-size: medium;
}

.textbox input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn {
    background-color: #0f0f0fd2;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #2987b3;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* ============================ABOUT US==================== */
 #about-us{
     font-family: 'Open Sans', sans-serif;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 .container {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     padding: 20px;
     text-align: center;
 }

 .image {
     flex: 1;
     max-width: 100%;
     margin-right: 20px;
 }

 .textbox {
     flex: 1;
     max-width: 600px;
 }



     .image,
     .textbox {
         margin-right: 0;
         width: 100%;
     }
